H1.v1 { 
    font-size: x-large; 
    color: blue 
    }
H1.v2 { 
    font-size: x-large; 
    color: green 
    }
H1.v3 { 
    font-size: x-large; 
    color: pink 
    }

H2 { 
    font-size: large; 
    color: salmon 
}

